{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
      <div class="content-wrapper">
         {% include 'header.html' %}
         {% include 'menu.html' %}
        <section class="content-header">
          <h1>
            {% trans 'Welcome to the ShortenLinks system.' %}
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="callout callout-info">
            <h4>{% trans 'Hi!' %}</h4>
            <p>{% trans 'Here you can shorten your links and manage them with complete security.' %} &#128540;</p>
          </div>
          <!-- Default box -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
        {% include 'footer.html' %}
{% endblock %}