{% load static %}
<div>
      {% if messages %}
        {% for m in messages %}
            {% if m.tags == "success" %}
                  <div class="alert alert-success alert-dismissible" >
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                    {{m}}
                  </div>
            {% elif m.tags == "error" %}
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                      {{m}}
                  </div>
            {% endif %}
        {% endfor %}
      {% endif %}
</div>