{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="content-wrapper">
         {% include 'header.html' %}
         {% include 'menu.html' %}
        <section class="content-header">
          <h1>
              {% if request.resolver_match.url_name == 'Cadastro_usuario' %}
                Cadastro de usuário.
              {% else %}
                Alteração de usuário
              {% endif %}
          </h1>
        </section>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
                {% include 'messages/custom_errors.html' %}
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Formulário de Cadastro</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- Profile Image -->
                  {% if request.resolver_match.url_name == 'Update_usuario' %}
                  <div class="card-body box-profile">
                    <div class="text-center">
                      {% if object.imagem %}
                      <img class="profile-user-img img-fluid img-circle"
                           src="{{ object.imagem.url }}"
                           alt="User profile picture">
                      {% else %}
                      <img class="profile-user-img img-fluid img-circle"
                           src="{% static 'adminlte3/dist/img/avatar5.png' %}"
                           alt="User profile picture">
                      {% endif %}
                    </div>
                    <h3 class="profile-username text-center">{{usuario.get_full_name}}</h3>
                    <p class="text-muted text-center">Software Engineer</p>
                  </div>
                  {% endif %}
                <!-- /.card -->
                  <!-- form start -->
                  <form role="form" method="POST" id="quickForm" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                          <label>Nome:</label>
                          {{form.first_name}}
                        </div>
                        <div class="form-group">
                          <label>Sobrenome:</label>
                          {{form.last_name}}
                        </div>
                        <div class="form-group">
                          <label>Email:</label>
                           {{form.email}}
                            {{form.errors.email}}
                        </div>
                        {% if request.resolver_match.url_name == 'Cadastro_usuario' %}
                        <div class="form-group">
                          <label>Senha:</label>
                           {{form.password}}
                           {{form.password.help_text}}
                           {{form.errors.password}}
                        </div>
                        <div class="form-group">
                          <label>Confirma Senha:</label>
                           {{form.confirm_password}}
                           {{form.errors.confirm_password}}
                        </div>
                        {% endif %}
                          <div class="form-group">
                            <label for="customFile">Foto de Perfil</label>
                            <div class="custom-file">
                               <input type="file" class="custom-file-input" name="imagem" id="customFile">
                              <label class="custom-file-label" for="customFile">Escolha o arquivo</label>
                            </div>
                          </div>
                        <div class="checkbox">
                          <label>
                              {{ form.is_active }} Ativo
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                              {{ form.is_staff }} Administrador
                          </label>
                        </div>
                    </div>
                    <!-- /.card-body -->
                  <!-- /.box-body -->
                    <div class="card-footer">
                      <a href="{% url 'users:Usuarios' %}"  class="btn btn-default">Voltar</a>
                        {% if request.resolver_match.url_name == 'Cadastro_usuario' %}
                      <button type="submit" class="btn btn-primary float-right ">Adicionar</button>
                        {% else %}
                      <button type="submit" class="btn btn-primary float-right ">Atualizar</button>
                        {% endif %}
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    </div><!-- /.content-wrapper -->
{% include 'footer.html' %}

{% endblock %}

