{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
      <div class="content-wrapper">
         {% include 'header.html' %}
         {% include 'menu.html' %}
        <section class="content-header">
          <h1>
            {% trans 'User detail.' %}
          </h1>
        </section>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
                  {% if messages %}
                        {% for m in messages %}
                            {% if m.tags == "success" %}
                                  <div class="alert alert-success alert-dismissible" >
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                    {{m}}
                                  </div>
                            {% elif m.tags == "error" %}
                                  <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                      {{m}}
                                  </div>
                            {% endif %}
                        {% endfor %}
                  {% endif %}
                <!-- /.box-header -->

                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">{% trans 'View Form' %}</h3>
                  </div>
                  <!-- /.card-header -->
                    <!-- Profile Image -->
                      <div class="card-body box-profile">
                        <div class="text-center">
                          {% if object.image %}
                          <img class="profile-user-img img-fluid img-circle"
                               src="{{ object.image.url }}"
                               alt="User profile picture">
                          {% else %}
                          <img class="profile-user-img img-fluid img-circle"
                               src="{% static 'adminlte3/dist/img/avatar5.png' %}"
                               alt="User profile picture">
                          {% endif %}
                        </div>
                        <h3 class="profile-username text-center">{{usuario.get_full_name}}</h3>
                        <p class="text-muted text-center">{% trans 'Software Engineer' %}</p>
                      </div>
                    <!-- /.card -->
                  <!-- form start -->
                  <form role="form" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                          <label>{% trans 'Name:' %}</label>
                          {{form.first_name}}
                        </div>
                        <div class="form-group">
                          <label>{% trans 'Last name:' %}</label>
                          {{form.last_name}}
                        </div>
                        <div class="form-group">
                          <label>Email:</label>
                           {{form.email}}
                        </div>
                        {% if request.resolver_match.url_name == 'Cadastro_usuario' %}
                        <div class="form-group">
                          <label>{% trans 'Password:' %}</label>
                           {{form.password}}
                        </div>
                        {% endif %}
                          <div class="form-group">
                            <label for="customFile">{% trans 'Profile picture' %}</label>
                            <div class="custom-file">
                               <input type="file" class="custom-file-input" name="image" id="customFile" disabled>
                              <label class="custom-file-label" for="customFile">{% trans 'choose the file' %}</label>
                            </div>
                          </div>
                        <div class="checkbox">
                          <label>
                              {{ form.is_active }} {% trans 'Active' %}
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                              {{ form.is_staff }} {% trans 'Administrator' %}
                          </label>
                        </div>
                    </div>
                    <!-- /.card-body -->
                  <!-- /.box-body -->
                    <div class="card-footer">
                      <a href="{% url 'users:Usuarios' %}"  class="btn btn-default">{% trans 'Back' %}</a>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    </div><!-- /.content-wrapper -->
{% include 'footer.html' %}

{% endblock %}

